/chapter1/chat/chat
/chapter2/chat/chat
/chapter3/chat/avatars/*
/chapter3/chat/chat
/chapter4/domainfinder/domainfinder
/chapter4/domainfinder/lib/*
/chapter5/socialpoll/counter/counter
/chapter5/socialpoll/twittervotes/twittervotes
/chapter6/socialpoll/api/api
/chapter6/socialpoll/counter/counter
/chapter6/socialpoll/twittervotes/twittervotes
/chapter6/socialpoll/web/web

!/chapter4/domainfinder/lib/.keepme
